*{
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
}

header{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: transparent;
  -webkit-transition: background-color .5s;
}

article{

}

footer{

}

nav{
  display: table;
  margin: auto;
  margin-top: 15px;
  height: 40px;
  -webkit-transition: margin-left .5s;
}

ul{
  display: block;
  float: left;
  list-style: none;
}

ul li{
   float: left;
   margin: 10px;
   padding: 2px;
}

ul a{
  color: #F3F3F3;
  text-decoration: none;
}

.introText{
  margin-top: 10em;
}

p{
  font-family: Papyrus;
  color: #b19356;
  font-size: 1.8em;
  font-weight: normal;
  margin: 2em auto;
  max-width: 800px;
}

.itext:first-letter{
  font-family:Papyrus;
  font-weight:400;
  border-bottom:3px solid #937341;
  float: left;
  font-size:44px;
  line-height:1.2;
  margin:-2px 20px 0 10px;
  padding:0 8px 0 10px
}

.mainText{
  width: 100%;
  margin: 510px auto;
  margin-left: 20px;
	background-color: transparent;
	color: white;
  margin-bottom: 10px;
}

.mainText h1{
  font-family: Papyrus;
	text-align: center;
  margin-right: 160px;
  font-size: 3em;
  color: #b19356;
}

.divider{
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

img#logo{
  float: left;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
  -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}


.box{
  list-style: none;
  width: 1000px;
  height: 333px;
  margin: 60px auto;
  overflow: hidden;
  display: flex;
}

/* li{
  display: block;
  width: 333px;
  height: 333px;
} */


.libox{
  display: block;
  width: 333px;
  height: 333px;
}

.img-box{
  position: absolute;
  z-index: 1;
  width: 333px;
  height: 333px;
  overflow: hidden;
}

.imgb{
  position: absolute;
  width: 333px;
  height: 333px;
}

.titlebox{
  position: relative;
  height: 50px;
  line-height: 50px;
  color: #fff;
  padding: 0 25px 0 15px;
  font-family: Papyrus;
  font-size: 25px;
  display: table;
  border-radius: 0 5px 5px 0;
  margin-top: 250px;
  background: #2D3F51;
}


section{
  width: 100%;
  height: 1100px;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0;
}




#banner{
  background-image: url(../images/mainBG.jpg);
}

#intro{
  background-color: #000000;
  /* background-image: url(../images/point.jpg); */
}

#p5js{
  background-image: url(../images/noche.jpg);
}

#fractal{
  background-image: url(../images/formulas.jpg);
}


/* @media (min-width:768px){
  .description__1-6:first-letter{
    font-family:Beaufort for LOL Medium,Arial,sans-serif;
    font-weight:400;
    border-bottom:3px solid #937341;
    float:left;
    font-size:44px;
    line-height:46px;
    margin:-2px 25px 0 0;
    padding:0 10px
  }
}

.description__1-6>p{
  padding-bottom:20px
}

.description__1-6>p:last-child{
  padding-bottom:0
} */
